channels
daphne
django-celery-beat
django-celery-results
django-environ
django-redis
django-rest-swagger
djangorestframework-simplejwt
drf-yasg
gunicorn
h2
pillow
pip-chill
priority
psycopg2
pyopenssl
pyotp
service-identity
swagger-spec-validator